/*
* {
    outline: 1px solid red !important;
} */

:root {
    --p3-bg-blue: #0f8bed;
    --p3-dark-blue: #00293f;
    --p3-yellow: #f1c40f;
    --p3-light-blue: #7adbfd;
    --p3-grey: #c1cede;
    --p3-grey-box: #b3b7c0;
    --p3-dark-grey: #8c8c8c;
    --p3-red: #692431;
    --p3-teal: #6fffff;
    --p3-text: #57565c;
    --p3-box-border: #d0d5e9;

    --totalicons: 6;
    --radius: 340px;
}
    

html {
    font-family: "Arial", "Helvetica";
    background-color:  var(--p3-bg-blue);
}

h1 {
    color: var(--p3-yellow);
    font-size: 44px;
}

h2 {
    color: var(--p3-red);
}

p {
    color: var(--p3-text);
    font-size: 22px;
    font-weight: 600;
}

.container-index {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-bio-card {
    display: flex;
    align-items: column;
    background-color: var(--p3-grey-box);
    max-width: 60vw;
    padding: 50px;
    border-radius: 20px;
    border: 2px solid var(--p3-box-border);
    filter: drop-shadow(10px 10px 0px rgba(103, 101, 101, 0.336));
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.container-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-portrait {
    margin-right: 5%;
}


.container-why-warp {
    margin-top: 50px;
    background-color: var(--p3-dark-blue);
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.container-cards {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.card-price, .card-passion, .card-relaxed {
    background-color: aqua;
    width: 50%;
    height: auto;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}


.container-icons {
    position: relative;
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    margin: 100px auto;
}

/* Arranging icons into a circle stuff */

.container-icons img, .container-icons p {
    transform-origin: 50% 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;   
    margin: -30px;
    display: grid;
    place-items: center;
    transition: 0.4s;

    --angle: calc(360deg / var(--totalicons) * var(--i));

    transform: 
    rotate(var(--angle))
    translateX(var(--radius))
    rotate(calc(-1 * var(--angle)));
}

.container-icons p {
    text-align: center;
    width: 100px;
    margin-top: 10%;
    margin-left: -6.4%;
}

#icon-desc {
    width: 500px;
    text-align: center;
    margin: 0%;
    left: 15%;
}

.container-icons img:hover {
    transition: 0.4s ease;
    filter: drop-shadow(2px 2px 5px rgba(85, 83, 83, 0.732));
    transform: rotate(var(--angle)) translateX(var(--radius)) rotate(calc(-1 * var(--angle))) scale(1.3);
    text-decoration-thickness: 0.4s;
}

.container-icons img {
    
}


.btn-quote {
    margin-top: 100%;
}


form {
    background-color: rgb(228, 174, 211);
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}

input, textarea {
    width: 100%;
    border-radius: 5px;
    border: 2px solid purple;
}

.radio-btn {
    width: 5%;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
    text-align: center;
    padding: 0px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}


th {
    background-color: pink;
    padding-top: 4px;
    padding-bottom: 4px;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}


td {
    background-color: #add8e6;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    transition: 0.3s;
}


tr:hover td {
    background-color: #91b4c0; 
    transform: 1s ease-in;
}